@model WalkInMedicalClinic.WebUI.Models.CardiologyClinicViewModel

@{
    ViewBag.Title = "CardiologyClinic";
}

<section id="content">


    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Heading and para -->
                <div class="block-heading-two">
                    <h3><span>CARDIAC DIAGNOSTIC TESTS</span></h3>
                </div>

                <p>
                    <strong>ELECTROCARDIOGRAM (ECG) - </strong>is a simple, painless test that records
                    the heart's electrical activity.
                </p>
                <p>
                    <strong>SPIROMETRY-PULMONARY FUNCTION TEST - </strong>This is a simple test to estimate
                    the lung capacity and function. <strong>
                        Patients: Please do not use bronchodilator on
                        the day of test.
                    </strong>
                </p>
                <p>
                    <strong>EXERCISE STRESS TEST/ GRADED EXERCISE TEST - </strong>used to diagnose myocardial
                    ischema. Patient walk on a treadmill with increase of speed and inclination every
                    three minutes. <strong>Patients: Please wear comfortable clothing and running shoes.</strong>
                </p>
                <p>
                    <strong>ECHOCARDIOGRAM - </strong>This is a heart ultrasound. It is useful for the
                    assessment of heart's wall and motion, blood flow through the chambers and valves.
                </p>
                <p>
                    <strong>HOLTER MONITOR - </strong>This test is used to diagnose irregular heart
                    beats by recording continuous ECG for 24 or 48 hrs. <strong>
                        Patients: Please refrain
                        from taking shower and bath while wearing the monitor.
                    </strong>
                </p>
                <p>
                    <strong>AMBULATORY BLOOD PRESSURE MONITOR(ABPM) - </strong>The purpose of this test
                    is to diagnose and manage hypertension. Patient wear the monitor to record blood
                    pressure for 24 hours. There is a fee for this test as it is not covered by OHIP.
                </p>
                <p>
                    <strong>ARTERIAL BRACHIAL INDEX (ABI) - </strong>This test is useful to diagnose
                    peripheral vein disease and aimed for vascular assessment.
                </p>
                <p>
                    <strong>SPIROMETRY (Pre & Post Bronchodilators) - </strong>This test is used to
                    compare the lung capacity and function before and after the administration of bronchodilator.
                    It is a basic test to diagnose asthma. <strong>
                        Patients: Please donot use bronchodilator
                        on the day of test.
                    </strong>
                </p>
                <p>
                    <strong>LOOP MONITOR - </strong>This test is used to diagnose irregular heart beats
                    by recording heart beats for 14 days. Patient records and capture heart beat whenever
                    feel symptoms of chest pain,shortness of breath and palpitations.
                </p>
                <p>
                    <strong>STRESS ECHO TEST - T</strong>his test is a combination of echo and stress
                    test. It provides the useful information of heart's anatomical & physiological abnormalities
                    before and after exercise stress test. <strong>
                        Patients: Please wear comfortable clothing
                        and running shoes.
                    </strong>
                </p>
                <p>
                    <strong>STRESS TEST WITH PRE & POST SPIROMETRY - </strong>This test is used to diagnose
                    exercise induced asthma. <strong>
                        Patients: Please wear comfortable clothing and running
                        shoes. Please do not use bronchodilator on the day of test.
                    </strong>
                </p>
                <br />
                <h3>
                    CARDIAC SPECIALITY CLINICS
                </h3>
                <p>
                    A referral is required by the family doctor. All necessary diagnostic tests will
                    be done for all specialist clinics.
                </p>
                <p>
                    <strong>Cardiac Assessment & Management Clinic - </strong>The purpose of the clinic is to screen
                    patients for heart problems and assessment of various risk factors through necessary
                    diagnostic testing contributing to pathophysiology of the heart. Our aim is to assesss
                    risks through necessary diagnostic testing and manage the pathophysiology of the
                    heart through consult and drug therapy.
                </p>
                <p>
                    <strong>Vascular & Diabetes Management Clinic - </strong>is very informative and helpful for the
                    patients with diabetes and vascular (including high blood pressure) problems. The
                    purpose of this clinic is to reduce heart attack & stroke risks and educate them
                    to improve the quality of life.
                </p>
                <p>
                    <strong>
                        Anti-Coagulation/Atrial Fibrilliation Clinic -
                    </strong>
                    purpose is to manage and evaluate
                    therapeutic drugs in patients with atrial fibrillation.
                </p>
            </div>
        </div>

        <div class="row">
        </div>
    </div>

</section>

