@model WalkInMedicalClinic.WebUI.Models.CareersViewModel

@{
    ViewBag.Title = "Careers";
}

<section id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Heading and para -->
                <div class="block-heading-two">
                    <h3><span>Careers</span></h3>
                </div>

                <p>Full time / Part time Family Physicians</p>

                <p>Wakeel Medical Centre – Mississauga, ON</p>
                We offer,

                <ul>
                    <li>
                        Flexible hours
                    </li>
                    <li>
                        Electronic Medical Records (EMR) & secretarial support.
                    </li>
                    <li>
                        No practice management responsibilities.
                    </li>
                    <li>
                        Compensation will be a fee for service split with negotiable terms. Blended compensation model also possible.
                    </li>
                    <li>
                        Professional healthcare team to assist.
                    </li>
                </ul>

                Qualifications
                <ul>
                    <li>
                        Practicing physician, licensed to practice in Ontario or license-eligible.
                    </li>
                    <li>
                        Certification in Family Medicine with the College of Family Physicians of Canada or equivalent.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>Full time / Part time Family Physicians</p>

                <p>Wakeel Medical Centre – Mississauga, ON</p>
                We offer,

                <ul>
                    <li>
                        Flexible hours
                    </li>
                    <li>
                        Electronic Medical Records (EMR) & secretarial support.
                    </li>
                    <li>
                        No practice management responsibilities.
                    </li>
                    <li>
                        Compensation will be a fee for service split with negotiable terms. Blended compensation model also possible.
                    </li>
                    <li>
                        Professional healthcare team to assist.
                    </li>
                </ul>

                Qualifications
                <ul>
                    <li>
                        Practicing physician, licensed to practice in Ontario or license-eligible.
                    </li>
                    <li>
                        Certification in Family Medicine with the College of Family Physicians of Canada or equivalent.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <p>Full time / Part time Family Physicians</p>

                <p>Wakeel Medical Centre – Mississauga, ON</p>
                We offer,

                <ul>
                    <li>
                        Flexible hours
                    </li>
                    <li>
                        Electronic Medical Records (EMR) & secretarial support.
                    </li>
                    <li>
                        No practice management responsibilities.
                    </li>
                    <li>
                        Compensation will be a fee for service split with negotiable terms. Blended compensation model also possible.
                    </li>
                    <li>
                        Professional healthcare team to assist.
                    </li>
                </ul>

                Qualifications
                <ul>
                    <li>
                        Practicing physician, licensed to practice in Ontario or license-eligible.
                    </li>
                    <li>
                        Certification in Family Medicine with the College of Family Physicians of Canada or equivalent.
                    </li>
                </ul>
            </div>
        </div>


        <p class="text-info">
            How to apply<br/>
            Relocating Physicians are also welcome to apply.<br />
            Please send us resume/CV to info@wakeelmedical.com
        </p>
    </div>

    <div class="row">
    </div>

</section>