@model WalkInMedicalClinic.WebUI.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<section id="content">


    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Heading and para -->
                <div class="block-heading-two">
                    <h3><span>Welcome to Wakeel Medical Centre Inc.</span></h3>
                </div>
                <p>
                    We are a multi specialty medical centre that provides cardiology, gynaecology &

                    fertility clinic(s). The clinic offers non-invasive cardiac diagnostic testing, cardiac

                    assessment, consultation, hypertension evaluation, diabetic care, gynaecology

                    assessment, consultation and infertility treatment at both Mississauga and Etobicoke

                    locations.
                </p>
            </div>
        </div>

        <div class="block-heading-six">
            <h4 class="bg-color">Our Team</h4>
        </div>
        <br />
        <div class="team-six">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image -->
                        <img alt="" src="~/Images/team1.jpg" class="img-responsive">
                        <!-- Name -->
                        <h4>DR. TIAO KATTYGNARATH</h4>
                        <p>
                            Dr. K. earned his Medical Doctor (MD) degree in 1997 at the Universite Pierre et Marie Curie (France), and completed his Obstetrics & Gynecology residency followed by a two-year Fellowship in Reproductive Endocrinology & Infertility. He also holds a Master of Science (MSc) degree in Human Reproduction (laboratory technology, andrology, embryology, pre-implantation genetic diagnosis and screening) from the famous Valencia Infertility Institute (IVI). He is also certified in Biostatistics from the University of California, San Diego.
                        </p>
                        <p>
                            Dr. K. is a Licentiate of Medical Council of Canada and holds the Educational Commission of Foreign Medical Graduates (ECFMG) certificate (USA). He serves as a Fertility expert for the College of Physicians of Quebec and is a member of American Society for Reproductive Medicine (ASRM), European Society for Human Reproduction and Embryology (ESHRE), and Canadian Fertility and Andrology Society (CFAS).
                        </p>
                        <p>
                            Dr. K. has more than 10 years experience in Fertility treatments and Gynecology and is the author of The Handbook of Assisted Reproductive Technology and Infertility.
                            . Dr K. is fluent in English, French and Thai.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image -->
                        <img alt="" src="~/Images/team1.jpg" class="img-responsive">
                        <!-- Name -->
                        <h4>DR. JEANIE YUH</h4>
                        <p>
                            Dr. Yuh graduated from the Drexel University College of Medicine, following her undergraduate education at the University of Pennsylvania.
                        </p>
                        <p>
                            She then pursued her specialty residenty training in Obstetrics and Gynegology at Abington Memorial Hospital in a surburb of Philadelphia, PA and has been practicing for last 3 years in the private practice affiliated with Einstein Medical Center.
                        </p>
                        <p>
                            She is board certified in Obstetrics and Gynecology and a fellow of Amercian College of Obstetrics and Gynecology. Dr. Yuh has strong experience in all areas of general Obstetrics-Gynecology and has a special interest in adolescent medicine, infertility, helping our local community, and many years of international experience including Korean language skills.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image -->
                        <img alt="" src="~/Images/team1.jpg" class="img-responsive">
                        <!-- Name -->
                        <h4>DR. JEANIE YUH</h4>
                        <p>
                            Dr. Yuh graduated from the Drexel University College of Medicine, following her undergraduate education at the University of Pennsylvania.
                        </p>
                        <p>
                            She then pursued her specialty residenty training in Obstetrics and Gynegology at Abington Memorial Hospital in a surburb of Philadelphia, PA and has been practicing for last 3 years in the private practice affiliated with Einstein Medical Center.
                        </p>
                        <p>
                            She is board certified in Obstetrics and Gynecology and a fellow of Amercian College of Obstetrics and Gynecology. Dr. Yuh has strong experience in all areas of general Obstetrics-Gynecology and has a special interest in adolescent medicine, infertility, helping our local community, and many years of international experience including Korean language skills.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>