@model WalkInMedicalClinic.WebUI.Models.WomenHealthClinicViewModel

@{
    ViewBag.Title = "WomenHealthClinic";
}

<section id="content">


    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Heading and para -->
                <div class="block-heading-two">
                    <h3><span>Women's Health Speciality Clinics</span></h3>
                </div>

                <p>
                    All necessary diagnostic tests willbe done for Speciality Clinics.
                </p>
                <p>
                    <strong>Menopausal &amp; Hormonal clinic -</strong> Specialized to take care of patients with pre menopausal
                    and menopausal symptoms.
                </p>
                <p>
                    <strong>Pre Op Clinic - </strong> Completed diagnostic testing and consultation is provided to the
                    patients going for surgery.
                </p>
                <p>
                    <strong>Family Planning Clinic - </strong> Focuses on consultation and education on contraception methods.
                </p>
                <p>
                    <strong>Gynecology Clinic - </strong> Aimed to diagnose, treat and manage abnormalities of uterine
                    cavity, fallopian tubes, ovaries and overall all reproductive system.
                </p>
                <p>
                    <strong>Urogynecology Clinic - </strong>Specialized in the care of the patients with incontinence
                    ,urge of continence and pelvic organ prolapse.
                </p>
                <p>
                    <strong>Obstetrics Clinic - </strong>Specialized in the prenatal and post natal care of women, expert
                    in dealing with high risk pregnancies and complicated deliveries.
                </p>
                <p>
                    <strong>Cancer Screening Clinic- </strong>Aimed to screen patients for cervical cancer with various
                    diagnostic tests and procedures.
                </p>
                <p>
                    <strong>Infertility &amp; Reproductive Medicine Clinic - </strong>Aimed
                    to screen patients for infertility with various helpful diagnostic testing and procedures.
                    Focused on the diagnosis of reproductive organ abnormalities.
                </p>
                <br>
                <h3>Women's Health Clinic: Diagnostic Tests &amp; Procedures</h3>
                <p>
                    <strong>PAP SMEAR - </strong> is the basic screening of cervix, it is
                    covered by ohip and no referral required.
                </p>
                <p>
                    <strong>COLPOSCOPY - </strong>This test is done when the
                    pap smear results are abnormal and used as a basic cancer screening test.
                </p>
                <p>
                    <strong>PELVIC ULTRASOUND - </strong> is an non-invasive diagnostic test, used to diagnose abnormalities in
                    the reproductive system of the women.
                </p>
                <p><strong>LEEP Biopsy - </strong>This test is done when the pap smear results are abnormal and used as a diagnostic cancer screening test.</p>
                <p>
                    <strong>SONOHYSTOGRAM - </strong>It is fluid filled ultrasound to evaluate both the uterine cavity and the fallopian
                    tube. The purpose of this test is to diagnose uterus abnormalities and infertility
                    problems.
                </p>
                <p>
                    <strong>INSERTION &amp; REMOVAL OF IUD/IUS - </strong>This treatment is used for contraception.
                    The procedure is covered by ohip. No referral is needed by the family doctor. Patient
                    can book appointment anytime.
                </p>
                <p>
                    <strong>URODYNAMIC TESTING - </strong>The purpose of this test is to
                    evaluate efficiency of urinary bladder and urethra in releasing urine. It is a very
                    simple and diagnostic test to measure incontinence. It is covered by ohip.
                </p>
                <p><strong>INSERTION OF PESSARY - </strong> The purpose of this treatment is to manage pelvic organ prolapse.</p>
                <p>
                    <strong>OVARIAN HORMONE PROFILE - </strong>This test is used to evaluate hormonal levels in the blood that
                    helps in the right diagnosis of ovary function in woman's menstrual cycle. This test is covered by ohip.
                </p>
                <p><strong>INDUCED OVULATION - </strong> is the therapeutic management of PCOS.</p>
            </div>
        </div>
    </div>

    <div class="row">
    </div>

</section>

